# dependencies
node_modules/

# build outputs
.next/
dist/
build/

# env files
.env
.env.local
.env.production

# logs
*.log

# OS files
.DS_Store

# python
__pycache__/
*.pyc

# testing
coverage/

# editors
.vscode/
.idea/